#cabezera{
    background: #5b7989;
    border-radius: 10px 10px 0px 0px;
}

#cabezera h1{
    color: white;
    text-align: left;
    text-shadow: #02010a 2px;
}

ul{
    list-style-type: none;
    margin: 0;
    height: 100%;
}
li{
    float: right;
    margin: 0px 5px;
    padding: 0px 15px;
    text-decoration: none
    /* pendiente quitar línea*/
    
}